absl-py==0.7.1
aenum==2.2.6
aiobotocore==1.1.0
aiohttp==3.6.2
aioitertools==0.7.0
astor==0.8.0
astroid==2.4.2
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.1.0
azure-ai-formrecognizer==3.0.0
azure-core==1.10.0
backcall==0.1.0
beautifulsoup4==4.8.1
bleach==3.0.2
botocore==1.17.44
Brotli==1.0.9
cachetools==4.1.1
certifi==2019.6.16
chardet==3.0.4
ci-info==0.2.0
Click==7.0
colorama==0.4.1
configobj==5.0.6
configparser==5.0.1
cycler==0.10.0
Cython==0.29.14
dash==1.19.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
dataclasses==0.8
datatable==0.11.0
deap==1.3.0
decorator==4.3.0
defusedxml==0.5.0
dgl==0.5.3
dgl-cu101==0.5.3
dill==0.3.0
docutils==0.15.2
entrypoints==0.2.3
etelemetry==0.2.2
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.9.0
flatbuffers==1.12
fortran-magic==0.7
fsspec==0.8.0
future==0.18.2
gast==0.3.3
gensim==3.8.3
ghostscript==0.6
google-auth==1.19.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gremlinpython==3.4.10
grpcio==1.30.0
h5py==2.10.0
html5lib==1.0.1
idna==2.8
idna-ssl==1.1.0
img2pdf==0.4.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-radam==0.12.0
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
lightgbm==2.0.12
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
mock==3.0.5
msrest==0.6.19
multidict==4.7.6
multiprocess==0.70.8
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.5
nibabel==3.2.0
notebook==5.7.2
numpy==1.16.4
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==0.24.2
pandas-datareader==0.9.0
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.3.1
pathlib==1.0.1
pathos==0.2.4
patsy==0.5.1
pdf-to-scan==0.0.3
pdfforms==1.2.1
pdfminer==20191125
pickleshare==0.7.5
pikepdf==2.5.2
Pillow==6.1.0
pipenv==2020.11.15
plotly==4.14.3
ply==3.11
pox==0.2.6
ppft==1.6.6.1
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.12.4
prov==2.0.0
psutil==5.7.2
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.9
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.3.0
pylint==2.5.3
pyparsing==2.4.7
PyPDF2==1.26.0
pypiwin32==223
pyRDF2Vec==0.0.5
python-dateutil==2.8.0
python-louvain==0.14
pytz==2019.1
pywin32==224
pywinpty==0.5.4
pyxnat==1.4
PyYAML==5.1.1
pyzmq==17.1.2
qtconsole==4.4.3
rdflib==5.0.0
reportlab==3.5.55
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
s3fs==0.5.0
scikit-learn==0.21.2
scikit-plot==0.3.7
scipy==1.4.1
seaborn==0.9.0
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
sklearn-deap2==0.2.2
smart-open==3.0.0
soupsieve==1.9.5
SPARQLWrapper==1.8.5
statsmodels==0.11.1
stopit==1.1.2
tabulate==0.8.3
tensorboard==2.2.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorflow-io==0.14.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toml==0.10.1
torch==1.7.1
tornado==5.1.1
TPOT==0.10.1
tqdm==4.32.1
traitlets==4.3.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
update-checker==0.16
urllib3==1.25.3
virtualenv==16.7.9
virtualenv-clone==0.5.4
Wand==0.6.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wrapt==1.12.1
xgboost==0.90
xlrd==1.2.0
yarl==1.5.1
